#game-page {
  display: grid;
  grid-template-columns: 300px 700px;
  grid-template-rows: max-content max-content;
}

.leave-room-btn {
  grid-column: 1;
  grid-row: 2;
}

.players-container {
  grid-column: 1;
}

.readiness-indicator {
  width: 15px;
  height: 15px;
  border-radius: 20px;
}

.progress-block {
  width: 250px;
  height: 30px;
  border: 1px solid black;
}

.progress-indicator {
  width: 0%;
  height: 100%;
  background: lightgreen;
}

.game-container {
  grid-column: 2;
  grid-row: 1 / 4;
  width: 750px;
  height: 750px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
}

.isReady {
  align-self: center;
  justify-self: center;
  display: block;
  margin: 200px auto;
}

.finished-letters {
  background-color: lightgreen;
}

.current-letter {
  text-decoration: underline;
}